* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h3 {text-align: center;
  font-family: Arial, sans-serif;
  background-color: #e8f5e9;
  color: #2e7d32;
  line-height: 1.6;
}

header {
  background-color: #388e3c;
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.welcome button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards-section {
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.events ul{
  list-style-type: disc;
  margin: 20px;
}

.contact {
  text-align: center;
  padding: 20px;
}

.contact button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 10px 0;
}